@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.parrafo {
background-color: #E797E5;
font-size: 25px;
font-family:  'Dancing Script', cursive;;
}
.prueba {
    background-color: #F3722D ;
    color: #9B268B ;
  
}